body {
  font-family: Verdana, sans-serif;
  font-size: 16px;
}


.news-item {
  color: #828282;
  margin-top: 5px;
  align-items: baseline;
  display: flex;
}

.news-item_rank {
  flex-basis: 1.5rem;
  font-size: 0.875rem;
  text-align: right;
}

.news-item_vote {
  flex-basis: 1rem;
  text-align: center;
}

.news-item_text {
  flex-grow: 1;
}

.news-item_title-link {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.news-item_domain {
  font-size: 0.9rem;
  margin-top: 5px;
}

.news-item_subtext {
  font-size: 0.8rem;
}

.news-item_subtext > a {
  color: #828282;
  text-decoration: none;
}

news-item_subtext > a:hover {
  text-decoration: underline;
}

.gray-arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #828282;
  position: relative;
  top: -13px;
}


.news-header {
  align-items: center;
  background: #ff6600;
  color: black;
  display: flex;
  font-size: 10pt;
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.news-header_logo {
  border: 1px solid white;
  flex-basis: 18px;
  height: 18px;
}

.news-header_logo > a {
  text-decoration: none;
  color: #fff;
}

.news-header_title > a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 4px
}

.news-header_nav {
  flex-grow: 1;
  margin-left: 1rem;
}

.news-header_link {
  text-decoration: none;
  color: #000;
}

.news-header_link:not(:last-child)::after {
  content: ' | ';
}

.news-list {
  background: #f6f6ef;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.comment {
  position: relative;
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: dotted black 2px;
}

.comment-content {
  margin: 0.5rem 0;
}

.comment-gap {
  margin-top: 1rem;
}

